.navbar-brand {
margin:auto;

}


.Greetings{
text-align:center;
background-color:#3e7823;
color:black;

}

nav{
background-color:#3C3C3C;
}

form {
text-align:center;
color:black;
}


body{
/*background-color:#E8EBF7;*/
/*background-color:#D2D8EF;*/
background-color:#white;

}

.innerContent{
  max-width:80%;
  background-color:#E1E5F4;
  margin:auto;
  height: 100vh;
  border:black solid 2px;
}


#labelTewksbury {
    color:grey;

}
