.navbar-brand {
margin:auto;

}
.Header{
  text-align:center;
  background-color:#3e7823;
  color:black;
}
/*.UploadForm{
  text-align:center;
  background-color:DimGrey ;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 15px;

}*/


.innerContent{
  max-width:80%;
  background-color:#E1E5F4;
  margin:auto;
  height: 100vh;
  border:black solid 2px;
}

nav{
background-color:#3C3C3C;
}


h3{
  text-align:center;
  background-color:#3e7823;
  color:black;
}



body{
background-color:#white;
text-align: center;
}

.itemInfoPrintout{
  max-width:80%;
  background-color:#E1E5F4;
  margin:auto;
  height: 100vh;
  border:black solid 2px;

}

a{
  text-decoration:none;
  margin:auto;
}


.linkButtons {
  font-size: 16px;
  color: white;
  padding: 14px 16px;
  margin-left:5px;
  margin-right:5px;
  text-decoration: none;
  background-color:#228999;
}



.linkButtons:hover{
  background-color:purple;
  color:white;
}
