.navbar-brand {
margin:auto;

}


h3, form{
text-align:center;
color:black;
}


body{
background-color:#white;
}

.innerContent{
  max-width:80%;
  background-color:#E1E5F4;
  margin:auto;
  height: 100vh;
  border:black solid 2px;
}

nav{
background-color:#3C3C3C;
}

.linkButtons {
  font-size: 16px;
  color: white;
  padding: 14px 16px;
  margin-left:5px;
  margin-right:5px;
  text-decoration: none;
  background-color:#228999;
}



.linkButtons:hover{
  background-color:purple;
  color:white;
}
